- if current_user?(service.person)
  = render :partial => "people/edit_profile_button"
- else
  %a.profile-contact-link.button.btn-big{href: new_person_person_message_path(@person)}
    = t("people.show.contact")
