@import "compass/css3/border-radius";
@import "mixins/all";

$profile-pic-size-mobile: lines(3);
$profile-pic-gutter-mobile: lines(0.5);

.people-image {
  display: none;
  > img {
    width: 100%;
  }

  @include media(tablet) {
    display: block;
  }
}

.people-header {
  padding-bottom: lines(0.25);
  border-bottom: 1px solid $border;
  margin-bottom: 1.5em;
}

.people-load-more-listings-container {
  clear: both;
  margin-bottom: lines(1);
}

.people-show-closed-link {
  font-size: 13px;
  margin-left: lines(0.5);
}

.profile-action-buttons-desktop {
  display: none;

  @include media(tablet) {
    display: block;
  }
}

.profile-action-buttons-mobile {
  border-bottom: 1px solid $border;
}

.profile-edit-link, .profile-contact-link {
  width: 100%;
}

.people-image-mobile {
  width: 50%;
  margin: 0 auto;
  > img {
    width: 100%;
  }
}

.people-fluid-thumbnail-grid-container {
  @include create-fluid-thumbnail-grid(people, 1, 1, 2, 3, 2, 2, 3, 3);
}

#profile-followed-people-list {
  .fluid-thumbnail-grid-image-image-container {
    padding-bottom: 100%;
  }
}

<<<<<<< HEAD
/******** PROFILE CUSTOM PAGE STYLES
******************************************/
#profile-listings-list {
  .people-fluid-thumbnail-grid-container .people-fluid-thumbnail-grid {
    margin-right: auto;
    overflow: visible;
    @include media(tablet) {
      margin-right: -3em;
    }
    .people-fluid-thumbnail-grid-item {
      width: 100%;
      padding-right: 0;
      > div {
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
      }
      transition: 0.2s transform linear;
      margin-bottom: 3em;
      &:hover {
        transform: scale(1.05);
      }
      @include media(tablet) {
        width: 50%;
        padding-right: 3em;
      }
    }
  }
}
.people-sidebar {
  .name {
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.2em;
    margin: 1em 0 0;
    text-align: center;
  }
  .location {
    font-size: 0.7em;
    margin: 0.2em auto 0.8em;
    line-height: 1.5;
    text-align: center;
  }
  &.sidebar-desktop {
    display: none;
    @include media(tablet) {
      display: block;
    }
  }
  @include media(tablet) {
    padding-left: 2em;
  }
}
// .profile-title {
//   color: $white;
//   font-size: 2em;
//   display: block;
//   text-align: center;
//   max-width: 19em;
//   margin: 0 auto;
//   font-weight: 400;
// }
// body.people-page {
//   .lander-content.marketplace-lander-content {
//     padding: 3em 1em 3em;
//     margin-bottom: 11px;
//   }
// }
=======
.people-custom-fields-title {
  font-weight: bold;
  margin-right: 5px;
}

.profile-about-me {
  ol {
    padding-left: 1.5em
  }
}
>>>>>>> 1ac316d1fcaa2fe83103acee9e38073482673079
