/**
  Contains styles for listing grid's image part
*/

@import "mixins/all";

.fluid-thumbnail-grid-image-image-container {
  position: relative;
  color: $background;

  &:hover {
    color: $highlight;
  }

  @include block-with-aspect-ratio(3/2);
}

.fluid-thumbnail-grid-image-title {
  color: $black;
  font-size: 0.8em;
  font-family: Arial;
}

.fluid-thumbnail-grid-image-overlay {
  @include border-top-radius($default-border-radius);
  @include overlay;
  @include absolutely-all;
}

.fluid-thumbnail-grid-image-image {
  @include border-top-radius($default-border-radius);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.fluid-thumbnail-grid-image-price-container {
  color: $white;
  text-align: center;
  padding: 0.3em 0.75em;
  background-color: $main-blue;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
}

.fluid-thumbnail-grid-image-price {
  font-size: 1.6em;
  font-weight: 700;
}

.fluid-thumbnail-grid-image-type {
  font-size: 16px;
}