%footer
  .wrapper
    .row
      .col-footer
        .title
          ='title'
        %hr
        %ul
          %li
            = link_to '#', 'Link 01'



    .socialbox
      %ul
        %li
          = link_to '#', 'Link 01'


  .copyright
    ='2018 RS Marketplaces'